.j2t-autoadd-cart {position:relative; background:#fff; padding:5px; margin-top:5px;}
.j2t-autoadd-cart-in {float:left; padding:5px; width: 150px; text-align: center;}
.j2t-autoadd-cart-in h2.product-name {display:block; height:35px; padding-top:5px;}
.j2t-autoadd-clear {clear:both; height:1px; font-size: 1px;}